@font-face {
    font-family: "RobotoMono";
    src: url("RobotoMono-Regular.ttf") format("truetype");
    font-style: normal;
}

body {
    column-count: 2;
}

pre {
    font-family: "RobotoMono";
    font-size: 12px;
}